<!--Navbar-->
<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <ul>
    <li>
      <a mat-button routerLink="">Dashboard</a>
    </li>
    <li>
      <button mat-button cdkMenuItem [cdkMenuTriggerFor]="posts">Posts</button>
    </li>
    <li>
      <button mat-button cdkMenuItem [cdkMenuTriggerFor]="flashcards">Flashcards</button>
    </li>
  </ul>
  <span class="spacer-right"></span>
  <span><a mat-button cdkMenuItem [cdkMenuTriggerFor]="account">Lee Stevens</a></span>
</mat-toolbar>

<!--Sidebar-->
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav-drawer" mode="side">
    <ul>
      <li>
        <button mat-flat-button color="primary">Item 1</button>
      </li>
      <li>
        <button mat-flat-button color="primary">Item 2</button>
      </li>
      <li>
        <button mat-flat-button color="primary">Item 3</button>
      </li>
    </ul>
  </mat-drawer>
</mat-drawer-container>

<!--Navbar dropdowns-->
<ng-template #posts>
  <div class="cdkMenu">
    <a mat-button cdkMenuItem routerLink="/post-list" routerLinkActive="mat-primary">View Posts</a>
    <a mat-button cdkMenuItem routerLink="/post-create" routerLinkActive="mat-primary">Create Post</a>
  </div>
</ng-template>

<ng-template #flashcards>
  <div class="cdkMenu">
    <a mat-button cdkMenuItem routerLink="/flashcards" routerLinkActive="mat-primary">Dashboard</a>
    <a mat-button cdkMenuItem routerLink="/flashcard-view" routerLinkActive="mat-primary">View Flashcards</a>
    <a mat-button cdkMenuItem routerLink="/flashcard-create" routerLinkActive="mat-primary">Create Flashcard</a>
  </div>
</ng-template>

<ng-template #account>
  <div class="cdkMenu">
    <a mat-button cdkMenuItem routerLink="/register" routerLinkActive="mat-primary">Create Account</a>
    <a mat-button cdkMenuItem routerLink="/login" routerLinkActive="mat-primary">Log In </a>
    <a mat-button cdkMenuItem routerLink="/login-settings" routerLinkActive="mat-primary">Account Settings</a>
  </div>
</ng-template>
