mat-toolbar {
  height: 4vh;
}

a, button {
  transform: scale(1.0);
  transition-duration: 1s;
}

a:hover, button:hover {
  background-color: #8b4ff17e;
  transform: scale(1.05);
  transition-duration: 1s;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  text

  li{
    display: inline;
  }
}

a{
  color: white;
  text-decoration: none;
}

.spacer-right {
  flex: 1 1 auto;
}

.cdkMenu {
  background-color: #673ab7;

  a{
    display: block;
    color: white;
  }
}


.sidenav-container {
  position: fixed;
  height: 100%;

  .sidenav-drawer {
    width: 15em;
    background-color: #673ab7;
  }

  li{
    display: block;
    padding: 0.4em 0em;

    button{
      width: 100%;
      text-align: left;
    }
  }
}
