<mat-card>
  <h1 style="text-align: center;">Register</h1>
  <form (submit)="onRegister(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        #emailInput="ngModel"
        ngModel
        required
        required email
        minlength="1"
        placeholder="E-mail Address">
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        name="password"
        #passwordInput="ngModel"
        ngModel
        required
        minlength="5"
        placeholder="Password">
        <mat-error *ngIf="passwordInput.invalid">Incorrect password</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Register</button>
  </form>
</mat-card>
