
<h1 style="text-align: center;">Create Flashcard</h1>
<mat-card>
  <form (submit)="onSaveFlashcard(flashcardForm)" #flashcardForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="subject"
        [ngModel]="flashcard?.subject"
        required
        minlength="1"
        placeholder="Subject"
        #title="ngModel">
        <mat-error *ngIf="title.invalid">"Please select a valid subject"</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="flashcard?.title"
        required
        minlength="5"
        placeholder="Title"
        #title="ngModel">
        <mat-error *ngIf="title.invalid">"Please enter a valid post title"</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        type="text"
        name="content"
        [ngModel]="flashcard?.content"
        required
        minlength="5"
        placeholder="Message"
        #content="ngModel">
        <mat-error *ngIf="title.invalid">"Please enter some content"</mat-error>
      </textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit">Save Post</button>
  </form>
</mat-card>
