<section class="section-halfpage div-centered">
  <h1 style="padding-bottom: 1em;">Lee Stevens | Developer Portfolio</h1>
  <p style="text-align: center;">
    Welcome to my MEAN app, this landing page is my portfolio<br/>
    The navbar will take you through some MEAN projects I've made while<br/>
    the projects below have clickable icons to take you to their own sites!
  </p>
  <p>Want to see how I coded this MEAN app, check out its <a href="https://github.com/leesprojects/MEAN-LeesProjects">Github Repo</a></p>
  <h3></h3>
</section>



<section class="section-halfpage">
  <div class="section-header-div">
    <h2>About Me</h2>
  </div>
  <div class="section-body">
    <div>
      <p>
        Job Search Status: I am currently looking for work

        My name is Lee Stevens and I am a programmer based in London.
        I currently work as a VBA developer 3 days a week, and a solo Unity Developer for the other 4.

        Since graduating from Brunel University with a BSc in Computer Science and an MA in Game Development, to the projects at my current job,
        I've had the priviledge of experiencing programming in many different capacities.
        I'm now looking for the best learning opportunity to settle down and learn from the best.

        This website is still in development so I apologise if it's missing sections you're looking for, I'm happy to get in contact and fill in the blanks :)
      </p>
    </div>
  </div>
</section>



<section class="section-halfpage">
  <div class="section-header-div">
    <h2>About Me</h2>
  </div>
  <div class="section-body">
    <p>
      Job Search Status: I am currently looking for work

      My name is Lee Stevens and I am a programmer based in London.
      I currently work as a VBA developer 3 days a week, and a solo Unity Developer for the other 4.

      Since graduating from Brunel University with a BSc in Computer Science and an MA in Game Development, to the projects at my current job,
      I've had the priviledge of experiencing programming in many different capacities.
      I'm now looking for the best learning opportunity to settle down and learn from the best.

      This website is still in development so I apologise if it's missing sections you're looking for, I'm happy to get in contact and fill in the blanks :)
    </p>
  </div>
</section>



<section class="section-halfpage">
  <div class="section-header-div">
    <h2>About Me</h2>
  </div>
  <div class="section-body">
    <p>
      Job Search Status: I am currently looking for work

      My name is Lee Stevens and I am a programmer based in London.
      I currently work as a VBA developer 3 days a week, and a solo Unity Developer for the other 4.

      Since graduating from Brunel University with a BSc in Computer Science and an MA in Game Development, to the projects at my current job,
      I've had the priviledge of experiencing programming in many different capacities.
      I'm now looking for the best learning opportunity to settle down and learn from the best.

      This website is still in development so I apologise if it's missing sections you're looking for, I'm happy to get in contact and fill in the blanks :)
    </p>
  </div>
</section>
