//Page Dimensions
$navbar-height: 10vh;
$fullpage-height: 100 - $navbar-height;
$halfpage-height: 96vh;

//Font
$h1-size: 30px;
$h2-size: 24px;
$h3-size: 18px;
$h4-size: 16px;
$h5-size: 14px;
$font-size: 20px;

//Colours
$color-primary: #047ccc7c;
$color-primary-opposite: white;
