<h1 style="text-align: center;">View Posts</h1>

<div class="postsContainer">
<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts ">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <a
      mat-button
      class="postContainer"
      color="primary"
      [routerLink]="['/post-edit', post.id]">Edit</a>
      <button
      mat-button
      class="postContainer"
      color="warn"
      (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p *ngIf="posts.length <= 0">Sad, no posts have been added yet</p>
</div>
